<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rectangle Mobile Template</title>
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/stylesheets/template1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
  </head>
  <body>
    <div class="page-bg"></div>
    <div class="page-bg-overlay"></div>
    <div class="top-header">
      <div class="top-header-container">
        <div class="top-header-container-contact">
          <p class="phone-info">
            Call Us:
            <a href="#">15757118234</a>
          </p>
        </div>
        <div class="top-header-container-share">
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" id="page-content">
      <div class="container-content">
        <div class="container-content-body">
          <div id="menu-container">
            <div class="logo-holder logo-top-margin">
              <a href="#" class="site-brand"><img src="http://or7mducph.bkt.clouddn.com/fuli/lovefou/10-07-154242_301.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="container-content-side"></div>
      </div>
    </div>
  </body>
</html>